HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.codeium/
.gitconfig
.gradle/
.jdks/
.lesshst
.m2/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
IdeaProjects/
Links/
Music/
NTUSER.DAT*
OneDrive/
Pictures/
PycharmProjects/
Saved Games/
Searches/
Videos/
_netrc
edb_psqlodbc.exe
edb_psqlodbc.exe-20240508054550
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
